 net "clk" loc = "B8"; 

 //hc-sr04
 net "ultraIn" loc = "G16"; //G13 (arriba); G16 (abajo)
 net "ultraOut" loc = "J12"; //H16 (arriba); J12 (abajo)


//Segmentos de display
net "segments[6]" loc = "L18";
net "segments[5]" loc = "F18"; 
net "segments[4]" loc = "D17";
net "segments[3]" loc = "D16";
net "segments[2]" loc = "G14";
net "segments[1]" loc = "J17";
net "segments[0]" loc = "H14";

//Ánodos
net "an[0]" loc = "F17";
net "an[1]" loc = "H17"; 
net "an[2]" loc = "C18";
net "an[3]" loc = "F15"; 

//speaker
net "speaker" loc = "L17"; 

//enableAlarm
net "enableAlarm" loc = "G18"; 
 //Debug only 
 //net "ultraIn" loc = "G18"; 
 //net "ultraOut" loc = "R4"; 